<div class="contain">
  <h1>Result</h1>
  <p><%= @message_to_user %></p>
  <p><%="You made #{@score} points"%></p>
  <%# TOTAL SCORE %>
  <p><%="Your total score is #{session[:total_score]}"%></p>
  <%= link_to "New game", new_path %>
</div>
